# Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.env/

# Frontend
quorum_frontend/node_modules/
quorum_frontend/build/
quorum_frontend/.idea/

# Editor
.vscode/

# Compiled Python files
*.pyc

# Compiled C extension
*.so

# Compiled C++ extension
*.pyd

# Python packaging cache
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/

# Log files
*.log

# SQLite database file
*.sqlite3

# macOS
.DS_Store